# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Env & secrets
.env
*.pem
*.key

# Data (keep small samples only)
data/*
!data/samples/
data/samples/*.large.jsonl
spark-warehouse/
checkpoints/
metastore_db/
derby.log

# dbt
analytics/dbt/target/
analytics/dbt/dbt_packages/
analytics/dbt/logs/

# Airflow
orchestration/logs/
airflow.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
